#transparentBox{
	padding: 0 100px;
	background: url(./img/background.jpeg);
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
#transparentBox .box{
	position: relative;
	max-width: 600px;
	padding: 40px;
	background: rgba(255,255,255,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#transparentBox .box h1{
	margin:  0 0 20px;
	padding: 0;
	font-size: 48px;
	text-transform: uppercase;
	color: #031a25;
}
#transparentBox .box p{
	margin:  0;
	padding: 0;
	font-size: 18px;
	text-transform: capitalize;
	color: #031a25;
}
a {  
	color: blue; 
}
.links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.links img {
	margin-right: 10px;
	height: 25px;
}

body.dark-reader img {
	filter: brightness(0) invert(1);
}
